<ui:composition template="/template.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets">

    <ui:define name="title">
        Pagina 1
    </ui:define>

    <ui:define name="contenido">
        <h1>Contenido 1</h1>
        <p>esto es un contenido</p>
    </ui:define>
</ui:composition>