<ui:composition template="/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pe="http://primefaces.org/ui/extensions"
    xmlns:o="http://omnifaces.org/ui">

	<ui:define name="title">
        Pagina 1 
    </ui:define>

	<ui:define name="contenido">

		<h3>
			<h:outputText id="usuario" value="Bienvenido Usuario: " />
			#{loginBean.usuario.nick}
		</h3>


		<p:accordionPanel>
			<p:tab title="Cuestionario">
				<h:panelGroup layout="block" id="cuerpocuestionarios">
					<h:panelGroup layout="block" id="miscuestionarios">
						<h:panelGroup layout="block" id="contenido">

							<h3>
								<h:outputText value="Resolviendo Cuestionario N°: " />
								#{cuestionarioBean.elegido}
							</h3>
							<p:commandButton value="CARGAR PREGUNTAS"
								actionListener="#{cuestionarioBean.Cargarcuestionario()}" />
							<h:form>
								<h:commandButton action="recargar2" value="MOSTRAR PREGUNTAS"></h:commandButton>
							</h:form>
							
							<h:form>
							<p:dataTable var="preguntas" value="#{cuestionarioBean.preguntas}">
								<p:column headerText="N" style="width=30px">
									
								</p:column>
								<p:column headerText="Preguntas">
																	
								</p:column>
								<p:column headerText="Seleccionar">
																	
								</p:column>
								
								 <p:subTable var="alternativas" value="#{preguntas.alternativas}">
            						
            						        <f:facet name="header">
                								<h:outputText value="( #{preguntas.code} ).- #{preguntas.question}" />
            								</f:facet>
            							<p:column>
                							<h:outputText value="#{alternativas.id}" />
            							</p:column>
            							<p:column>
                							<h:outputText value="#{alternativas.description}" />
            							</p:column>
            							<p:column>
                							<p:commandButton icon="ui-icon-search" title="Respuesta">
                								<f:setPropertyActionListener value="#{alternativas.id}" target="#{cuestionarioBean.elegido}" />
            								</p:commandButton>
            							</p:column>
            							
           								
        						</p:subTable>
								
							</p:dataTable>
				
				
							</h:form>
			
							
						</h:panelGroup>
					</h:panelGroup>
					<h:panelGroup layout="block" id="useronline">
						<b>Usuarios en linea:</b>
						<h:panelGroup layout="block" class="usuarioconectado">
							<h:panelGroup layout="block" class="avatarusuario">
								<img src="imgs/avatars/01.PNG" />
							</h:panelGroup>Leyla Carpio
				</h:panelGroup>
					</h:panelGroup>
				</h:panelGroup>
			</p:tab>
		</p:accordionPanel>
	</ui:define>
</ui:composition>